$hl-background-green: #4c5844;
$hl-panel-background: #3e4637;
$hl-shadow: #2a3223;
$hl-grey: #b0aeae;
$hl-green-light: #5a6a50;
$hl-highlight: #7e8a76;
$hl-hud-bg-transparent: #FF981F50;
$hl-hud-text-color: #FFBA68;
$hl-text-selected: #FFBA68;

$text-color: $hl-grey;
$vfd-teal: #FFBA68;
$vfd-teal-unlit: #824900;
$vfd-background: $hl-shadow;
$vfd-red: #FF981F;
$vfd-red-unlit: #7D4100;

$layout-gap: $hl-highlight;

$layout-panel-background: $hl-panel-background;
$timer-background: $hl-panel-background;
