@use './colors';

@mixin inset-container {
    border-left: 2px solid colors.$hl-highlight;
    border-right: 2px solid colors.$hl-highlight;
    border-top: 2px solid colors.$hl-highlight;
    border-bottom: 2px solid colors.$hl-shadow;
    background-color: colors.$hl-background-green;
}
