@use 'fonts.scss';
@use 'colors.scss';
@use 'decorations.scss';
@import '../../client-shared/styles/layout';

* {
    box-sizing: border-box;
}

body {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    margin: 0;
    image-rendering: -webkit-optimize-contrast;
    position: relative;
    background-color: #222;

    > #app {
        height: 100%;
        width: 100%;
    }
}

.bg-timer {
    background: url("../assets/img/background-black-mesa.png") !important;
    background-size: cover;
}

.bg-panel {
    background: url("../assets/img/background-hl2.png");
    background-size: cover;
}
.bg-panel-jump {
    background: url("../assets/img/jumpcup-bg.png") !important;
    background-size: cover;
}
.bg-panel-portal {
    background: url("../assets/img/portal-jless.png") !important;
    background-size: cover;
}
.bg-panel-hl1 {
    background: url("../assets/img/hl1-menu.jpg") !important;
    background-size: cover;
}

.blur-bg::after {
    -webkit-backdrop-filter: blur(5px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
    backdrop-filter: blur(5px); /* Supported in all major browsers */

    content: "";
    display: block;
    position: absolute;
    width: 100%; height: 100%;
    top: 0;
    left: 0;
}
.blur-bg {
    position: relative;
}
/* Use for child content that should not be dark */
.u-non-blur {
    z-index: 1;
}

.bg-inset {
    @include decorations.inset-container;
    padding: 8px;
}

@each $direction in 'top', 'bottom', 'left', 'right' {
    .layout-gap-#{$direction} {
        border-#{$direction}: 3px solid colors.$layout-gap;
    }
}

.layout-gap {
    background-color: colors.$layout-gap;

    &.horizontal {
        height: 3px;
    }

    &.vertical {
        width: 3px;
    }
}

.layout-wrapper {
    height: 100%;
}
